html{
    border: white solid 20px;
    border-radius: 60px;
    padding: 15px;
}

body{
    display:grid;
    grid-template-columns:1fr 4fr ;
    grid-template-rows:10vh 80vh ;
    background-image: url(/img/download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1.8%;
}

header{
    display: flex;
    background-color: red;
    border-radius: 45px;
    text-align: center;
    padding: 5px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}

aside {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  background-color: red;
  border-radius: 45px;
  padding: 5px;
  width:fit-content;
  margin-right: 10px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Steg{
    display: flex;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: red;
    border-radius: 45px;
    padding: 20px;
    align-items: center;
}

.Steg img{
    display: flex;
    height: 150px;
    width: auto;
    border-radius: 45px;
}
